<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.acorn.mapper.book">
 	<select id="search" parameterType ="book" resultType="book">
 		 <!-- 쿼리는 직접 채우세요 -->
 	</select>
</mapper>

