<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	
	<typeAlias type="com.spring.ebook.model.user.vo.UserVO" alias="user"  />
	<typeAlias type="com.spring.ebook.model.book.vo.BookVO" alias="book"  />
	<typeAlias type="com.spring.ebook.model.userbook.vo.UserBookVO" alias="userbook"  />
	<typeAlias type="com.spring.ebook.model.board.vo.PutlistVO" alias="putlistboard"  />
	</typeAliases>

</configuration>

